/* Reset basic margin & padding */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background and centering */
.hero {
  min-height: 10vh;
 
  background: linear-gradient(to bottom right,rgb(237, 237, 81),rgb(154, 243, 82));
  color: rgb(50, 50, 50);
  border: 2px solid rgb(226, 217, 217);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

/* Title styling */
.hero-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

/* Description styling */
.hero-description {
  font-size: 1.2rem;
  max-width: 600px;
}

/* for search bar */
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.searchbar-input {
  flex: 1;
  padding: 10px 14px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.searchbar-cross-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.searchbar-cross-icon-button:hover {
  color: #000;
}

.searchbar-separator {
  width: 2px;
  height: 28px;
  background-color: #ccc;
  margin-right: 10px;
}

.searchbar-arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  color: #666;
  display: flex;
  align-items: center;
}

.searchbar-arrow-button:hover {
  color: #000;
}

.platform-text {
  text-align: center;
  margin-top: 10px;
  color: #2e7d32;
  font-size: 14px;
}

.error-text {
  text-align: center;
  margin-top: 10px;
  color: #d32f2f;
  font-size: 20px;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* search results */


.searchbar-result {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.result-thumbnail {
  width: 90px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.result-info .result-title {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}



